<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>카테고리 등록</title>
</head>
<body>

<h2>카테고리 등록</h2>

<form th:action="@{/categories/create}" th:object="${categoryForm}" method="post">
    <input type="text" th:field="*{name}" placeholder="카테고리 이름"/>
    <span th:errors="*{name}" style="color:red"></span>
    <button type="submit">등록</button>
</form>

<br>
<a href="/categories">목록으로 돌아가기</a>
<footer>
    <p th:text="${'실습 수행: ' + #temporals.format(#temporals.createNow(), 'yyyy-MM-dd HH:mm:ss')} + ' |  학번: 2371080  |  이름: 홍태성'"></p>
</footer>
</body>
</html>